<div id="content">
	{% if page.is_homepage? == false %}
  <div id="intro" class="intro clearfix">
    <div class="text-content">
      {{ page.basic.content }}
 <iframe width="100%" height="850" src="https://docs.google.com/spreadsheets/d/12eq9FxkO6QiUH8FZ2BYTBTGGkawpTzTRhppV47dtvKM/pubhtml?widget=true&amp;headers=false"></iframe>
    <div class="like-page">
      <strong>Do you like this page?</strong>
      {% include "like_page" %}
    </div>
  </div>
	{% else %}
  <div id="intro" class="clearfix">
    <div class="text-content">
      {% if page.parent.headline.size %}
      <h2 class="headline">{{ page.parent.name }}</h2>
      {% else %}
      	{% if page.headline.size %}
      	<h2 class="headline">{{ page.name }}</h2>
      	{% endif %}
      {% endif %}
      {{ page.basic.content }}
      <iframe width="100%" height="850" src="https://docs.google.com/spreadsheets/d/12eq9FxkO6QiUH8FZ2BYTBTGGkawpTzTRhppV47dtvKM/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
    <div class="like-page">
      <strong>Do you like this page?</strong>
      {% include "like_page" %}
    </div>
  </div>  
  {% endif %}
  
  
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>